.card{
    width: 450px;
    height: 220px;
}

ul {
    list-style: none ;
    padding-left: 0px ;
}

.icon {
    height: 130px;
    width: 130px;
    margin: 40px 10px
}

a {
    text-decoration: none;
    color: inherit ;
}